{% extends "../base.html" %}
{% load staticfiles %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/tournage.jpeg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Videos</h1>
          <span class="subheading">Videos</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for video in videos %}
      <div class="post-preview">
        <a href="{{video.get_absolute_url}}">
          <h2 class="post-title">
            {{ video.name }}
          </h2>
        </a>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
    </div>
  </div>
</div>

<hr>

{% endblock %}
