{% extends "../base.html" %}
{% load static %}
{% block body %}
  <div class="container">
      {% for article in articles %}
      {% if article.featured %}
      <div class="jumbotron p-3 p-md-5 text-white rounded box-main">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ article.title }}</h1>
          <p class="lead my-3">{{ article.description }}</p>
          <p class="lead mb-0"><a href="{{article.get_absolute_url}}" class="text-white font-weight-bold">Kontinye Li Atik Lan...</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Kek Ti Enfo
          </h3>
          {% for card in cards %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ card.title }}</h2>
            <p class="blog-post-meta">{{ card.created }}</p>
            <div class="card-columns">
              {% for image in card.images.all %}
              <div class="card">
                <img class="card-img" src={{ image.image.url }} alt="InfoCard Image">
              </div>
              {% endfor %}
            </div>
          </div><!-- /.blog-post -->
          {% endfor %}

        </div><!-- /.blog-main -->



        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 box-light rounded">
            <h4 class="font-italic">Notre Mission</h4>
            <p class="mb-0">La médecine loin d’être uniquement curative, devrait être aussi préventive. Et c’est cet objectif que « Zafè Sante » s’est donné : Mettre l’information à la disposition du public sans la farcir de termes médicaux. De l’information claire facilement assimilable même par le plus simple des profanes. De nombreuses maladies et de nombreuses complications de maladies pourraient être évitées si le patient était formé.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Jwenn Nou Sou Rezo Sosyo</h4>
            <ol class="list-unstyled">
              <li><a href="https://www.instagram.com/zafesante/?hl=fr">Instagram</a></li>
              <li><a href="https://www.facebook.com/ZafeSante/">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}
