boto3==1.6.9
botocore==1.9.9
dj-database-url==0.4.2
Django==2.0.1
django-autoslug-iplweb==1.9.4.dev0
django-social-share==1.1.2
django-storages==1.6.5
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.13
six==1.11.0
whitenoise==3.3.1
