{% extends "../base.html" %}
{% load static %}
{% block body %}
<!-- Page Header -->
<header class="jumbotron rounded text-white" style="background-image: url({% static 'img/isa.jpeg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Kesyon pou Zafè Sante</h1>
          <span class="subheading">Vote si nou renmen yon kesyon ou byen ta renmen poze menm kesyon an.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="clearfix">
        <a class="btn btn-primary float-left" href="{% url 'add_question' %}"> Ajoute Kesyon &rarr;</a>
      </div>
      <br />
      {% if error %}
      <p> {{ error }} </p>
      {% endif %}
      {% for question in questions %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"> by {{ question.author }}</strong>
          <h3 class="mb-0">{{ question.question }}</h3>
          <div class="mb-1 text-muted">{{ question.created }}</div>
          <p class="card-text mb-auto">{{ question.votes }} votes</p>
          <a class="btn btn-secondary float-right" href="{% url 'vote' slug=question.slug %}"> Mrenmen sa &rarr;</a>
        </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
    </div>
  </div>
</div>
</div>
<hr>

{% endblock %}
