{% extends "../base.html" %}
{% load static %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/isa.jpeg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Kesyon pou Zafè Sante</h1>
          <span class="subheading">Vote si nou renmen yon kesyon ou byen ta renmen poze menm kesyon an.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="clearfix">
        <a class="btn btn-primary float-left" href="{% url 'add_question' %}"> Ajoute Kesyon &rarr;</a>
      </div>
      {% if error %}
      <p> {{ error }} </p>
      {% endif %}
      {% for question in questions %}
      <div class="post-preview">
        <a href="{{question.get_absolute_url}}">
          <h2 class="post-title">
            {{ question.question }}
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a href="#"> {{ question.author }} </a>
          on {{ question.created }}</p>
          <p> {{ question.votes }} votes
          <a class="btn btn-secondary float-right" href="{% url 'vote' slug=question.slug %}"> Mrenmen sa &rarr;</a>
          </p>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#"> Ansyen Kesyon &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>

{% endblock %}
