{% extends "../base.html" %}
{% load staticfiles %}
{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/ZafeSanteBanner.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ question.question }}</h1>
          <span class="meta">Posted by
            {{ question.author }}
          {{question.created}}</span>
            <p> {{ question.votes }} votes </p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{article.content}}</p>
      </div>
    </div>
  </div>
</article>

<hr>
{% endblock %}
