{% extends "../base.html" %}
{% load static %}
{% block body %}
{% load social_share %}
<!-- Page Header -->
{% if article.picture %}
<header class="jumbotron p-3 p-md-5 text-white rounded box-main">
  {% else %}
  <header class="jumbotron p-3 p-md-5 text-white rounded box-main" style="background-image: url('img/post-bg.jpg')">
    {% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ title }}</h1><br />
          <h4 class="subheading">{{ article.description }}</h4>
          <span class="meta">Posted by
            <a href="#">{{ article.author }}</a>
          {{article.created}}
        <br />
        <br />

        <ul class="list-inline text-center">
          <p> Pataje Atik sa a sou rezo sosyo: </p>
          <li class="list-inline-item">
            <i class="fab fa-facebook"></i>
        {% post_to_facebook "" "Share on Facebook" %}
      </li>
      <li class="list-inline-item">
        <i class="fab fa-twitter"></i>
        {% post_to_twitter "{{ title }} - {{ article.description }} - Atik Zafè Sante" "" "Tweet this!"%}
          </li>
        <li class="list-inline-item">
          <i class="fab fa-linkedin"></i>
        {% post_to_linkedin "{{ title }} - {{ article.description }} - Atik Zafè Sante http://www.zafesante.com/{{ article.get_absolute_url }}" "" "Post on LinkedIn"%}
          </li>
        <li class="list-inline-item">
          <i class="fab fa-reddit"></i>
        {% post_to_reddit "{{ title }} - {{ article.description }} - Atik Zafè Sante" "" %}
          </li>
        </ul>
      </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ article.content|linebreaks }}</p>
      </div>
    </div>
  </div>
</article>

<hr>
{% endblock %}
