{% extends "../base.html" %}
{% load static %}
{% block body %}
<!-- Page Header -->
<header class="jumbotron rounded text-white" style="background-image: url({% static 'img/chris.jpeg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Atik Zafè Sante.</h1>
          <span class="subheading">Kenbe tèt ou enfome.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for article in articles %}
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ article.author }}</strong>
              <h3 class="mb-0">{{ article.title }}</h3>
              <div class="mb-1 text-muted">{{ article.created }}</div>
              <p class="card-text mb-auto">{{ article.description }}</p>
              <a href="{{article.get_absolute_url}}" class="stretched-link">Li Atik Lan...</a>
            </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
    </div>
  </div>
</div>

<hr>

{% endblock %}
